{% extends "base.html" %}

{% block content %}
    <div class="footer__block">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 mb-5">
                    <h6>We are the 5th semester student of Shri Ram Institute of Technology (SRIT). We have developed this website as part of our 
minor project in college. We will be continuously adding new feature in this project, to help other student.</h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}