{% extends "base.html" %}

{% block content %}
    <div class="footer__block">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 mb-5">
				<h1>Contact</h1><br>
				<h5>Get in touch via...</h5><br>

				<p>

				Email: VISHANTJAIN.JAIN93@GMAIL.COM<br>

				Mobile: +91 6260940741<br>

				Please send us your queries. We will be to help you </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}